<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 入住人 -->
<mapper namespace="com.szq.hotel.dao.CheckInPersonDAO">

    <!-- 根据子订单id查询入住人-->
    <select id="getCheckInPersonById" parameterType="java.lang.Integer" resultType="com.szq.hotel.entity.bo.CheckInPersonBO">
        select * from hm_check_in_person
        where order_child_id=#{id}
        <if test="status!=null and status!=''">
            and status=#{status}
        </if>
    </select>

    <!-- 添加入住人-->
    <insert id="addCheckInPerson" parameterType="com.szq.hotel.entity.bo.CheckInPersonBO">
        insert into hm_check_in_person
        (order_child_id,`name`,gender,phone,
        certificate_number,certificate_type,`status`,remark,create_time,create_user_id)
        values
        (#{orderChildId},#{name},#{gender},#{phone},
        #{certificateNumber},#{certificateType},
        #{status},#{remark},now(),#{createUserId})
    </insert>

    <!-- 删除入住人 -->
    <delete id="delCheckInPersonById" parameterType="java.lang.Integer">
        delete from hm_check_in_person where order_child_id=#{id}
    </delete>

    <!-- 查询一个人身份证号是否正在入住 -->
    <select id="checkId" resultType="java.lang.Integer" parameterType="java.lang.String">
        select count(certificate_number)
        from hm_check_in_person,hm_order_child
        where order_child_id=hm_order_child.id
        <if test="orderId!=null and orderId!=''">
            and order_id!=#{orderId}
        </if>
        and status='checkin'
        and certificate_number=#{certificateNumber}
    </select>

    <!--修改入住人信息-->
    <update id="updCheckInPerson" parameterType="com.szq.hotel.entity.bo.CheckInPersonBO">
        update hm_check_in_person
        <set>
            <if test="name!=null and name!=''">
                `name`=#{name},
            </if>
            <if test="gender!=null and gender!=''">
                `gender`=#{gender},
            </if>
            <if test="phone!=null and phone!=''">
                `phone`=#{phone},
            </if>
            <if test="certificateNumber!=null and certificateNumber!=''">
                `certificate_number`=#{certificateNumber},
            </if>
            <if test="certificateType!=null and certificateType!=''">
                `certificate_type`=#{certificateType},
            </if>
            <if test="status!=null and status!=''">
                `status`=#{status},
            </if>
            <if test="remark!=null and remark!=''">
                `remark`=#{remark}
            </if>
        </set>
            where
            id=#{id}
    </update>

    <!--入住人离店-->
    <update id="updPersonCheckOut">
        update hm_check_in_person set `status`=#{status} where order_child_id=#{id}
    </update>
</mapper>