<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.szq.hotel.dao.ChildOrderDAO">

    <!-- 根据订单id查询子订单 -->
    <select id="queryOrderChildById" parameterType="java.lang.Integer" resultType="com.szq.hotel.entity.bo.ChildOrderBO">
       SELECT child.id,child.start_time,child.end_time ,child.pay_cash_num,child.other_pay_num,child.other_rate,child.timeout_rate,
        child.free_rate_num ,child.order_state,room.room_name,`type`.room_type_name,child.al_room_code,child.night_auditor_state,
        child.print_state,child.remark,per.name,oder.channel,oder.order_type as passengerSource,oder.OTA,oder.order_number,child.main,
        oder.members_id
        FROM hm_order oder  LEFT JOIN hm_order_child child ON child.order_id=oder.id
        LEFT JOIN hm_room  room ON room.id=child.room_id  LEFT JOIN hm_room_type type
        ON type.id=child.room_type_id  LEFT JOIN hm_check_in_person  per ON per.order_child_id = child.id

        WHERE  per.`status`='checkin'  AND  child.id=#{id}     LIMIT 0,1
    </select>


    <!-- 增加子订单现金押金 -->
    <update id="increaseCashCashPledge" >
        UPDATE  hm_order_child SET  pay_cash_num=pay_cash_num+#{money}  WHERE  id= #{id}
    </update>
    <!-- 减少子订单现金押金 -->
    <update id="reduceCashCashPledge" >
        UPDATE  hm_order_child SET  pay_cash_num=pay_cash_num-#{money}  WHERE  id= #{id}
    </update>
    <!-- 增加子订单其他押金 -->
    <update id="increaseOtherCashPledge" >
         UPDATE  hm_order_child  SET  other_pay_num=other_pay_num+#{money}  WHERE  id= #{id}
    </update>
    <!-- 减少子订单其他押金 -->
    <update id="reduceOtherCashPledge" >
        UPDATE  hm_order_child  SET  other_pay_num=other_pay_num-#{money}  WHERE  id= #{id}
    </update>

    <!-- 增加子订单房费 -->
    <update id="increaseRoomRate" >
        UPDATE  hm_order_child SET  room_rate=room_rate+#{money}  WHERE  id= #{id}
    </update>
    <!-- 减少子订单房费 -->
    <update id="reduceRoomRate" >
        UPDATE  hm_order_child SET  room_rate=room_rate-#{money}  WHERE  id= #{id}
    </update>
    <!-- 增加子订单其费用 -->
    <update id="increaseOtherRate" >
        UPDATE  hm_order_child  SET  other_rate=other_rate+#{money}  WHERE  id= #{id}
    </update>
    <!-- 减少子订单其费用 -->
    <update id="reduceOtherRate" >
        UPDATE  hm_order_child  SET  other_rate=other_rate-#{money}  WHERE  id= #{id}
    </update>
    <!--查询挂账信息-->
    <select id="querySuspend" parameterType="java.lang.String" resultType="com.szq.hotel.entity.bo.BuyerBuyingBO" >
       SELECT 	per.`name`,per.phone,per.create_time,room.room_name ,child.id
               FROM  hm_order_child child LEFT JOIN hm_room  room ON room.id=child.room_id
                 LEFT JOIN hm_check_in_person  per ON per.order_child_id = child.id
        WHERE  room.room_name=#{roomName}  AND (child.order_state='admissions' OR  child.order_state='notpaid' )
    </select>

    <!--免单-->
    <update id="free"  >
        UPDATE  hm_order_child  SET  free_rate_num=free_rate_num+#{money}  WHERE  id= #{id}
    </update>

    <!--减少免单-->
    <update id="reducefree"  >
            UPDATE  hm_order_child  SET  free_rate_num=free_rate_num-#{money}  WHERE  id= #{id}
    </update>
    <!--查询主账房id-->
    <select id="queryOrderChildMain"  parameterType="java.lang.String" resultType="java.lang.Integer" >
        SELECT id  FROM `hm_order_child` WHERE al_room_code =#{code}  AND main='yes'
    </select>

    <!--判断是否有未退房的-->
    <select id="ifCheckOut"  resultType="int" >
        SELECT count(id) FROM hm_order_child WHERE order_state='notpaid'  AND  id IN
        <foreach collection="list"  item="id" open="(" separator="," close=")" >
            #{id}
        </foreach>
    </select>

    <update id="updateOrderUserId" >
        UPDATE  hm_order od LEFT JOIN hm_order_child child  ON child.order_id=od.id  SET
        members_id =#{meId} WHERE   child.id=#{id}
    </update>

    <!--查询所有在住信息-->
    <select id="queryOrderChild"  resultType="com.szq.hotel.entity.bo.RoomRateBO">
           SELECT child.id,child.start_time,child.end_time ,room.room_name,`type`.room_type_name,
            oder.channel,oder.order_type as passengerSource,oder.OTA,oder.order_number ,oder.hotel_id
        FROM hm_order oder  LEFT JOIN hm_order_child child ON child.order_id=oder.id
        LEFT JOIN hm_room  room ON room.id=child.room_id  LEFT JOIN hm_room_type type
        ON type.id=child.room_type_id
		WHERE child.order_state='admissions'  AND check_type='day'
    </select>

    <!--查询未过夜审的房费-->
    <select id="queryRoomPrice"   resultType="com.szq.hotel.entity.bo.EverydayRoomPriceBO" >
        SELECT * FROM `hm_everyday_room_price` WHERE order_child_id=#{id}  AND `time` &lt;#{time}   AND `status`='no'
    </select>

    <!--查询入住人姓名-->
    <select id="queryChildName"   parameterType="java.lang.Integer"  resultType="com.szq.hotel.entity.bo.CommonBO"  >
        SELECT id,name FROM `hm_check_in_person`  WHERE order_child_id=#{id} AND `status`='yes'  LIMIT 0,1
    </select>

    <!--修改夜审状态-->
    <update id="updateRoomPrice"  parameterType="java.lang.Integer"  >
         UPDATE  hm_everyday_room_price   SET  `status`='yes'   WHERE  id=#{id}
    </update>

</mapper>