<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.szq.hotel.dao.IncomeDAO">
    <!--根据时间获取营收信息-->
    <select id="getIncome" resultType="com.szq.hotel.entity.bo.IncomeBO">
        select
        sum(room_rate) as roomRate,
        sum(timeout_room_rate) as timeoutRoomRate,
        sum(room_rate_adjustment) as roomRateAdjustment,
        sum(other_rate) as otherRate,
        sum(commodity) as commodity,
        sum(compensation) as compensation,
        sum(member_card_rate) as memberCardRate,
        sum(debt_sum) as debtSum,
        sum(cash) as cash,
        sum(bank_card) as bankCard,
        sum(wechat) as wechat,
        sum(alipay) as alipay,
        sum(stored_pay) as storedPay,
        sum(credit_sum) as creditSum
        from hm_operating_income
        where hotel_id=#{hotelId}
        <if test="year!=null and year!=''">
            and year(night_auditor_time)=#{year}
        </if>
        <if test="month!=null and month!=''">
            and month(night_auditor_time)=#{month}
        </if>
        <if test="day!=null and day!=''">
            and day(night_auditor_time)=#{day}
        </if>

    </select>

    <!--添加营收信息-->
    <insert id="addIncome" parameterType="com.szq.hotel.entity.bo.IncomeBO">
        insert into hm_operating_income
        values
        (null,#{roomRate},#{timeoutRoomRate},#{roomRateAdjustment},
        #{otherRate},#{commodity},#{compensation},
        #{memberCardRate},#{debtSum},#{cash},
        #{bankCard},#{other},#{wechat},#{alipay},#{storedPay},
        #{creditSum},#{nightAuditorTime},#{hotelId})
    </insert>
    
    <!--收集营收信息-->
    <select id="getCashierSummaryByProject" resultType="java.math.BigDecimal">
        select sum(consumption)
        from hm_cashier_summary
        where create_time &gt;#{createTime} and create_time &lt;=#{endTime}
        and project=#{project} and hotel_id=#{hotelId}
    </select>

    <!--收集营收信息-->
    <select id="getCashierSummaryByType" resultType="java.math.BigDecimal">
        select sum(settlement)
        from hm_cashier_summary
        where create_time &gt;#{createTime} and create_time &lt;=#{endTime}
        and type=#{type} and hotel_id=#{hotelId}
    </select>

</mapper>