<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.szq.hotel.dao.IntegralRecordDAO">
    <!--添加积分记录-->
    <insert id="addIntegralRecord" parameterType="com.szq.hotel.entity.bo.IntegralRecordBO">
    INSERT INTO `hm_integral_record` (
	  `check_in_member_id`,`type`,`odd_numbers`,
	  `integral_change`,`presenter_money`,`current_balance`,
	  `create_user_id`,`create_time`,`remark`)
    VALUES (#{checkInMemberId},#{type},#{oddNumbers},#{integralChange},#{presenterMoney},
          #{currentBalance},#{createUserId},NOW(),#{remark});
    </insert>
    <!--积分明细-->
    <select id="getIntegralRecord" resultType="com.szq.hotel.entity.bo.IntegralRecordBO" parameterType="java.util.Map">
        SELECT re.*,ad.`name` FROM `hm_integral_record` re
        LEFT JOIN hm_admin ad ON re.create_user_id = ad.id
        WHERE re.check_in_member_id = #{memberId}
      <include refid="limit"/>
    </select>
    <!--积分明细数量-->
    <select id="getIntegralRecordCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(re.id) FROM `hm_integral_record` re
        LEFT JOIN hm_admin ad ON re.create_user_id = ad.id
        WHERE re.check_in_member_id = #{memberId}
    </select>
    <!--分页查询-->
    <sql id="limit">
        limit #{pageOffset},#{pageSize}
    </sql>

</mapper>