<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <!-- 【用户】 -->
<mapper namespace="com.szq.hotel.dao.ManagementReportDAO">

        <!--添加-->
        <insert id="addData" parameterType="com.szq.hotel.entity.bo.ManagementReportBO">
            INSERT INTO `hm_management_report` (
	          `receivable_sum`,`avg_room_rate`,`avg_consumption_of_room`,`avg_consumption_of_person`,
	          `indemnity_income`,`free_check_in_sum`,`room_sum`,`maintain_room_sum`,
	          `member_room_sum`,`member_card_sold_money`,`room_late_sum`,`person_late_sum`,
	          `commodity_revenues`,`room_rate_adjustment`,`occupancy_rate`,`REVPAR`,
	          `disable_room_sum`,`rental_income`,`empty_room_sum`,`hour_room_late_sum`,`create_time`,`hotel_id`)
          VALUES(#{receivableSum},#{avgRoomRate},#{avgConsumptionOfRoom},#{avgConsumptionOfPerson},
                  #{indemnityIncome},#{freeCheckInSum},#{roomSum},#{maintainRoomSum},
                  #{memberRoomSum},#{memberCardSoldMoney},#{roomLateSum},#{personLateSum},
                  #{commodityRevenues},#{roomRateAdjustment},#{occupancyRate},#{REVPAR},
                  #{disableRoomSum},#{rentalIncome},#{emptyRoomSum},#{hourRoomLateSum},#{createTime},#{hotelId})
        </insert>

        <!--查询管理层报表-->
        <select id="selectManagementReport"  parameterType="java.util.Map" resultType="com.szq.hotel.entity.bo.ManagementReportBO">
            SELECT
        SUM(receivable_sum) AS receivableSum ,SUM(avg_room_rate) AS avgRoomRate,
        SUM(avg_consumption_of_room) AS avgConsumptionOfRoom,SUM(avg_consumption_of_person) AS avgConsumptionOfPerson,
        SUM(indemnity_income) AS indemnityIncome,SUM(free_check_in_sum) AS freeCheckInSum,SUM(room_sum) AS roomSum,
        SUM(maintain_room_sum) AS maintainRoomSum,SUM(member_room_sum) AS memberRoomSum,
        SUM(member_card_sold_money) AS memberCardSoldMoney,SUM(room_late_sum) AS roomLateSum,
        SUM(person_late_sum) AS personLateSum,SUM(commodity_revenues) AS commodityRevenues,
        SUM(room_rate_adjustment) AS roomRateAdjustment,SUM(occupancy_rate) AS occupancyRate,SUM(REVPAR) AS REVPAR,
        SUM(disable_room_sum) AS disableRoomSum,SUM(rental_income) AS rentalIncome,
        SUM(empty_room_sum) AS emptyRoomSum,SUM(hour_room_late_sum) AS hourRoomLateSum
        FROM `hm_management_report`
        WHERE hotel_id=#{hotelId} AND  create_time &lt;= #{endTime} AND  create_time &gt; #{startTime}
        </select>


        <!--查询时间段内应收总计-->
        <select id="getReceivableSum" resultType="java.math.BigDecimal" parameterType="java.util.Map">
                SELECT SUM(consumption) FROM hm_cashier_summary
                WHERE  create_time &gt;= #{startTime} AND create_time &lt; #{endTime}
                AND hotel_id = #{hotelId}
        </select>
        <!--房费总收入-->
        <select id="getRoomRate" resultType="java.math.BigDecimal"  parameterType="java.util.Map">
            SELECT SUM(consumption) FROM hm_cashier_summary
            WHERE  create_time &gt;= #{startTime} AND create_time &lt; #{endTime}
                AND hotel_id = #{hotelId} AND project = '房费'
        </select>
        <!--房费冲减-->
        <select id="getRoomRateOffset" resultType="java.math.BigDecimal"  parameterType="java.util.Map">
          SELECT SUM(consumption) FROM hm_cashier_summary
          WHERE  create_time &gt;= #{startTime} AND create_time &lt; #{endTime}
                AND hotel_id = #{hotelId} AND project = '房费冲减'
        </select>
        <!--房间总数-->
        <select id="getRoomSum" resultType="java.lang.Integer" parameterType="java.util.Map">
          SELECT COUNT(id) FROM `hm_room` WHERE `show`='yes' AND hotel_id = #{hotelId}
        </select>
        <!--会员卡收入-->
        <select id="getMemberCardRate" resultType="java.math.BigDecimal" parameterType="java.util.Map">
          SELECT SUM(consumption) FROM `hm_cashier_summary`
            WHERE hotel_id = #{hotelId} AND project = '办卡'
                AND  create_time &gt;= #{startTime} AND create_time &lt; #{endTime}
        </select>

    <!--房晚数-->
    <select id="getRoomLateSum"  parameterType="java.util.Map"  resultType="java.lang.Integer" >
        SELECT COUNT(child.id) FROM hm_order_child child LEFT JOIN  hm_order oder  ON oder.id=child.order_id
        WHERE oder.hotel_id=#{hotelId} AND start_time &lt; #{endTime}  AND end_time &gt;= #{startTime}
        AND ( order_state='admissions'  OR  order_state='notpaid'  OR    order_state='accomplish' )
    </select>
    <!--人晚数-->
    <select id="getPersonLateSum" parameterType="java.util.Map"  resultType="java.lang.Integer" >
        SELECT COUNT(per.id) FROM hm_order_child  child LEFT JOIN hm_order oder  ON oder.id=child.order_id
        LEFT JOIN hm_check_in_person per  ON child.id=per.order_child_id
        WHERE oder.hotel_id=#{hotelId}  and  per.status='checkin'  AND  child.start_time &lt; #{endTime}  AND child.end_time &gt;= #{startTime}
        AND ( child.order_state='admissions'  OR  child.order_state='notpaid'  OR    child.order_state='accomplish' )
    </select>


    <!--入住人数-->
        <select id="getCheckInPerson" parameterType="java.util.Map" resultType="java.lang.Integer">
            SELECT COUNT(id) FROM `hm_check_in_person`
            WHERE create_time &gt;= #{startTime} AND create_time &lt; #{endTime}
        </select>
        <!--赔偿收入-->
        <select id="getCompensation" resultType="java.math.BigDecimal" parameterType="java.util.Map" >
            SELECT SUM(consumption) FROM hm_cashier_summary
            WHERE create_time &gt;= #{startTime} AND create_time &lt; #{endTime}
                AND hotel_id = #{hotelId} AND project = '赔偿'
        </select>
        <!--赔偿冲减-->
        <select id="getCompensationOffset" resultType="java.math.BigDecimal" parameterType="java.util.Map" >
            SELECT SUM(consumption) FROM hm_cashier_summary
            WHERE create_time &gt;= #{startTime} AND create_time &lt; #{endTime}
            AND hotel_id = #{hotelId} AND project = '赔偿冲减'
      </select>
        <!--免费入住房数-->
        <select id="getFreeRoomSum" resultType="java.lang.Integer" parameterType="java.util.Map">
            SELECT COUNT(child.id) FROM hm_order_child child LEFT JOIN  hm_order oder  ON oder.id=child.order_id
          WHERE oder.hotel_id=#{hotelId} AND start_time &lt; #{endTime}  AND end_time &gt;= #{startTime}
          AND ( order_state='admissions'  OR  order_state='notpaid'  OR    order_state='accomplish' )
          AND oder.check_type='free'
        </select>
        <!--维修房数-->
        <select id="getMaintainSum" resultType="java.lang.Integer" parameterType="java.util.Map">
            SELECT COUNT(id) FROM hm_room WHERE room_state = 'yes' AND `show`='yes' AND hotel_id = #{hotelId}
        </select>
        <!--会员房数-->
        <select id="getMemberRoomSum" resultType="java.lang.Integer" parameterType="java.util.Map">
            SELECT COUNT(child.id) FROM hm_order_child child LEFT JOIN  hm_order oder  ON oder.id=child.order_id
            WHERE oder.hotel_id=#{hotelId} AND start_time &lt; #{endTime}  AND end_time &gt;= #{startTime}
            AND ( order_state='admissions'  OR  order_state='notpaid'  OR    order_state='accomplish' )
            AND members_id IS NOT NULL
        </select>
        <!--商品收入-->
        <select id="getCommodity" resultType="java.math.BigDecimal" parameterType="java.util.Map">
            SELECT SUM(consumption) FROM hm_cashier_summary
            WHERE create_time &gt;= #{startTime} AND create_time &lt; #{endTime}
                AND hotel_id = #{hotelId} AND project = '商品'
        </select>
        <!--商品冲减-->
        <select id="getCommodityOffset" resultType="java.math.BigDecimal" parameterType="java.util.Map">
          SELECT SUM(consumption) FROM hm_cashier_summary
          WHERE create_time &gt;= #{startTime} AND create_time &lt; #{endTime}
          AND hotel_id = #{hotelId} AND project = '商品冲减'
        </select>
        <!--房费调整-->
        <select id="getRoomRateAdjustment" resultType="java.math.BigDecimal" parameterType="java.util.Map">
            SELECT -SUM(consumption) FROM hm_cashier_summary
            WHERE create_time &gt;= #{startTime} AND create_time &lt; #{endTime}
                AND hotel_id = #{hotelId}  AND (project = '超时费冲减' OR project = '房费冲减')
        </select>
        <!--锁房数-->
        <select id="getLockRoomSum" resultType="java.lang.Integer" parameterType="java.util.Map">
            SELECT COUNT(id) FROM hm_room WHERE lock_room_state = 'yes'  AND `show`='yes' AND hotel_id = #{hotelId}
        </select>
        <!--空房数-->
        <select id="getEmptyRoomSum" resultType="java.lang.Integer" parameterType="java.util.Map">
            SELECT COUNT(id) FROM hm_room WHERE room_major_state = 'vacant' AND `show`='yes'  AND hotel_id = #{hotelId}
        </select>
        <!--钟点房晚数-->
        <select id="getHourRoomSum" parameterType="java.util.Map" resultType="java.lang.Integer">
            SELECT COUNT(child.id) FROM hm_order_child child LEFT JOIN  hm_order oder  ON oder.id=child.order_id
              WHERE oder.hotel_id=#{hotelId} AND start_time &lt; #{endTime}  AND end_time &gt;= #{startTime}
              AND ( order_state='admissions'  OR  order_state='notpaid'  OR    order_state='accomplish' )
              AND oder.check_type = 'hour'
        </select>
</mapper>