<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szq.hotel.dao.ManagerDailyDAO">


    <!--计算昨天预约未到的房间数-->
    <select id="queryNumberOrder" resultType="com.szq.hotel.entity.bo.OcBO">
      SELECT * FROM hm_order_child
      WHERE order_state = 'reservation' AND  #{startTime} &lt;= start_time &lt; #{endTime}
      and  hotel_id = #{hotelID};
  </select>


    <select id="queryMaintenanceroomNumber" resultType="com.szq.hotel.entity.bo.RoomRecordBO">
      SELECT * FROM hm_room
      WHERE room_state = 'yes'
      AND hotel_id = #{hotelId}
     </select>

    <select id="queryNumberlockedStores" resultType="com.szq.hotel.entity.bo.RoomBO">
        SELECT * FROM hm_room
        WHERE hotel_id = #{hotelId}
        AND lock_room_state = 'yes'
        AND  (lock_room_start_time BETWEEN DATE_ADD( #{startTime},
            INTERVAL 1 SECOND)  AND   DATE_SUB( #{endTime}, INTERVAL 1 SECOND))
            OR (DATE_ADD(#{startTime},
            INTERVAL 1 SECOND) BETWEEN lock_room_start_time AND lock_room_end_time)
    </select>

    <select id="queryTotalnumberGuestrooms" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM hm_room
        WHERE hotel_id = #{hotelId}
    </select>

    <select id="queryCash" resultType="com.szq.hotel.entity.bo.CommodityBO">
        SELECT * FROM hm_commodity_transaction
        WHERE #{startTime}  &lt;= create_time &lt; #{endTime}
        AND hotel_id = #{hotelId}
        and pay_type = 'cash';
    </select>

    <select id="queryThroughoutDayrent" resultType="com.szq.hotel.entity.bo.CashierSummaryBO">
        SELECT * FROM hm_cashier_summary
        WHERE #{startTime} &lt;= create_time &lt; #{endTime}
                                         AND project = '押金';
    </select>


    <select id="queryThroughoutDayrent" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM hm_order WHERE
        hotel_id = #{hotelId}
        AND  #{startTime} &lt;= check_time &lt; #{endTime}
        AND check_type = 'day'
    </select>

    <select id="queryRateAdjustment" parameterType="com.szq.hotel.entity.bo.CashierSummary">
        SELECT * FROM hm_cashier_summary
        WHERE project IN ('商品','赔偿','房费','超时')
        AND #{startTime} &lt;= create_time &lt; #{endTime} ;
    </select>

    <select id="queryhourRate" parameterType="com.szq.hotel.entity.bo.Order">
        SELECT * FROM hm_order
        WHERE check_type = 'hour'
        AND #{startTime} &lt;= check_time &lt; #{endTime}
        AND hotel_id = #{hotelId}
    </select>

    <select id="querytimeoutRate" parameterType="com.szq.hotel.entity.bo.CashierSummary">
        SELECT * FROM hm_cashier_summary
        WHERE project = '超时费'
        AND #{startTime} &lt;= create_time &lt; #{endTime}
    </select>

    <select id="querynuclearnightRoomcharge1" parameterType="com.szq.hotel.entity.bo.CashierSummary">
        SELECT * FROM hm_cashier_summary
        WHERE project = '房费'
        AND #{startTime} &lt; = create_time &lt;  #{endTime}
    </select>


    <select id="querynuclearnightRoomcharge2" parameterType="com.szq.hotel.entity.bo.CashierSummary">
        SELECT * FROM hm_cashier_summary
        WHERE project = '房费冲减'
        AND #{startTime} &lt; = create_time &lt;  #{endTime}
    </select>

    <select id="querycompensation" parameterType="com.szq.hotel.entity.bo.CashierSummary">
        SELECT * FROM hm_cashier_summary
        WHERE project = '赔偿'
        AND #{startTime} &lt; = create_time &lt; #{endTime}
    </select>

    <select id="querymembershipFee" parameterType="com.szq.hotel.entity.bo.CashierSummary">
        SELECT * FROM hm_cashier_summary
        WHERE project = '办卡'
        AND #{startTime} &lt; = create_time &lt; #{endTime}
    </select>

    <select id="querygoods" parameterType="com.szq.hotel.entity.bo.CashierSummary">
        SELECT * FROM hm_cashier_summary
        WHERE project = '商品'
        AND #{startTime} &lt; = create_time &lt; #{endTime}
    </select>

    <select id="querymembers" parameterType="com.szq.hotel.entity.bo.Order">
        SELECT *  FROM hm_order
        WHERE hotel_id = #{hotelId}
        AND #{startTime} &lt;= check_time &lt; #{endTime}
        and members_id is not null;
    </select>

    <select id="qyeryagreementUnit" parameterType="com.szq.hotel.entity.bo.Order">
         SELECT *  FROM hm_order
            WHERE hotel_id = #{hotelId}
            AND #{startTime} &lt;= check_time &lt; #{endTime}
            and agreement_unit is not null;
    </select>

    <select id="queryindividualTraveler" parameterType="com.szq.hotel.entity.bo.Order">
         SELECT * FROM hm_managerdaily
         WHERE  hotel_id = #{hotelId}
         AND memberId_or_organizationId = NULL
         AND members_id = NULL
         AND #{startTime} &lt;= check_time &lt; #{endTime}
    </select>


    <select id="queryEnter" parameterType="com.szq.hotel.entity.bo.Order">
        SELECT * FROM hm_order
        WHERE order_type = 'directly'
        and hotel_id = #{hotelId}
        AND #{startTime} &lt; check_time &lt; #{endTime};
    </select>

    <select id="queryDirectBooking" parameterType="com.szq.hotel.entity.bo.Order">
        SELECT * FROM hm_order
        WHERE order_type = 'directly'
        AND hotel_id = #{hotelId}
        AND #{startTime} &lt; check_time &lt; #{endTime};
    </select>

    <select id="queryFwMembers" parameterType="java.lang.Integer">
        SELECT COUNT(1) FROM hm_order_child WHERE order_id IN (SELECT id FROM hm_order WHERE hotel_id = #{hotelId}
        AND #{startTime} &lt;= check_time &lt; #{endTime} and members_id is not null )
    </select>

    <select id="queryFwAgreementUnit" parameterType="java.lang.Integer">
         SELECT COUNT(1) FROM hm_order_child WHERE order_id IN (SELECT id FROM hm_order WHERE hotel_id = #{hotelId}
        AND #{startTime} &lt;= check_time &lt; #{endTime} and  memberId_or_organizationId is not null )
    </select>

    <select id="queryFwIndividualTraveler" parameterType="java.lang.Integer">
      SELECT COUNT(1) FROM hm_order_child WHERE order_id IN (SELECT id FROM hm_order WHERE hotel_id = #{hotelId}
        AND #{startTime} &lt;= check_time &lt; #{endTime}  AND memberId_or_organizationId = NULL
         AND members_id = NULL )
    </select>

    <select id="queryFwEnter" parameterType="java.lang.Integer">
    SELECT COUNT(1) FROM hm_order_child WHERE order_Id IN
    (SELECT id FROM hm_order WHERE  order_type = 'directly' AND hotel_id = #{hotelId} and #{startTime} &lt;= check_time &lt; #{endTime})
    </select>


    <select id="queryFwDirectBooking" parameterType="java.lang.Integer">
    SELECT COUNT(1) FROM hm_order_child WHERE order_Id IN
    (SELECT id FROM hm_order WHERE  order_type = 'subscribe' AND hotel_id = #{hotelId} and #{startTime} &lt;= check_time &lt; #{endTime})
    </select>
</mapper>