<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szq.hotel.dao.ManagerDailyTwoDAO" >
  <resultMap id="BaseResultMap" type="com.szq.hotel.entity.bo.ManagerDailyTwoBO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="member" property="member" jdbcType="VARCHAR" />
    <result column="individual_traveler" property="individualTraveler" jdbcType="VARCHAR" />
    <result column="bargaining_unit" property="bargainingUnit" jdbcType="VARCHAR" />
    <result column="intermediary" property="intermediary" jdbcType="VARCHAR" />
    <result column="app" property="app" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="step_in" property="stepIn" jdbcType="VARCHAR" />
    <result column="direct_reserve" property="directReserve" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, member, individual_traveler, bargaining_unit, intermediary, app, wechat, step_in, 
    direct_reserve, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hm_manager_daily_two
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hm_manager_daily_two
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.szq.hotel.entity.bo.ManagerDailyTwoBO" >
    insert into hm_manager_daily_two (id, member, individual_traveler, 
      bargaining_unit, intermediary, app, 
      wechat, step_in, direct_reserve, 
      type)
    values (#{id,jdbcType=INTEGER}, #{member,jdbcType=VARCHAR}, #{individualTraveler,jdbcType=VARCHAR}, 
      #{bargainingUnit,jdbcType=VARCHAR}, #{intermediary,jdbcType=VARCHAR}, #{app,jdbcType=VARCHAR}, 
      #{wechat,jdbcType=VARCHAR}, #{stepIn,jdbcType=VARCHAR}, #{directReserve,jdbcType=VARCHAR}, 
      #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.szq.hotel.entity.bo.ManagerDailyTwoBO" >
    insert into hm_manager_daily_two
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="member != null" >
        member,
      </if>
      <if test="individualTraveler != null" >
        individual_traveler,
      </if>
      <if test="bargainingUnit != null" >
        bargaining_unit,
      </if>
      <if test="intermediary != null" >
        intermediary,
      </if>
      <if test="app != null" >
        app,
      </if>
      <if test="wechat != null" >
        wechat,
      </if>
      <if test="stepIn != null" >
        step_in,
      </if>
      <if test="directReserve != null" >
        direct_reserve,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="member != null" >
        #{member,jdbcType=VARCHAR},
      </if>
      <if test="individualTraveler != null" >
        #{individualTraveler,jdbcType=VARCHAR},
      </if>
      <if test="bargainingUnit != null" >
        #{bargainingUnit,jdbcType=VARCHAR},
      </if>
      <if test="intermediary != null" >
        #{intermediary,jdbcType=VARCHAR},
      </if>
      <if test="app != null" >
        #{app,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="stepIn != null" >
        #{stepIn,jdbcType=VARCHAR},
      </if>
      <if test="directReserve != null" >
        #{directReserve,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.szq.hotel.entity.bo.ManagerDailyTwoBO" >
    update hm_manager_daily_two
    <set >
      <if test="member != null" >
        member = #{member,jdbcType=VARCHAR},
      </if>
      <if test="individualTraveler != null" >
        individual_traveler = #{individualTraveler,jdbcType=VARCHAR},
      </if>
      <if test="bargainingUnit != null" >
        bargaining_unit = #{bargainingUnit,jdbcType=VARCHAR},
      </if>
      <if test="intermediary != null" >
        intermediary = #{intermediary,jdbcType=VARCHAR},
      </if>
      <if test="app != null" >
        app = #{app,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="stepIn != null" >
        step_in = #{stepIn,jdbcType=VARCHAR},
      </if>
      <if test="directReserve != null" >
        direct_reserve = #{directReserve,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.szq.hotel.entity.bo.ManagerDailyTwoBO" >
    update hm_manager_daily_two
    set member = #{member,jdbcType=VARCHAR},
      individual_traveler = #{individualTraveler,jdbcType=VARCHAR},
      bargaining_unit = #{bargainingUnit,jdbcType=VARCHAR},
      intermediary = #{intermediary,jdbcType=VARCHAR},
      app = #{app,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      step_in = #{stepIn,jdbcType=VARCHAR},
      direct_reserve = #{directReserve,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>