<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

        <!-- 【用户】 -->
<mapper namespace="com.szq.hotel.dao.MemberRoomTypeDAO">

    <!--添加会员房型折扣-->
    <insert id="addMemberRoomType" parameterType="com.szq.hotel.entity.bo.MemberRoomTypeBO">
        INSERT INTO `hm_member_room_type` (
	      `member_level_id`,`room_type_id`,`price`,`discount`,`create_user_id`,
	      `create_time`,`update_user_id`,`update_time`)
        VALUES(#{memberLevelId},#{roomTypeId},#{price},#{discount},#{createUserId},
                NOW(),#{updateUserId},#{updateTime});
    </insert>

    <!--修改会员折扣-->
    <update id="updateMemberRoomType" parameterType="com.szq.hotel.entity.bo.MemberLevelBO">
        UPDATE `hm_member_level` SET `discount` = #{discount},`update_time` = NOW(),
        `update_user_id` =#{updateUserId}
        WHERE `id` = #{id}
    </update>

    <!--查询会员折扣-->
    <select id="selectMemberRoomType"  parameterType="java.lang.Integer" resultType="com.szq.hotel.entity.bo.MemberLevelBO">
        SELECT *  FROM `hm_member_level`
        where id = #{id}

    </select>


</mapper>