<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.szq.hotel.dao.MemberDAO">

    <!--新增会员-->
    <insert id="addMember" useGeneratedKeys="true" keyProperty="id"  parameterType="com.szq.hotel.entity.bo.MemberBO">
        INSERT INTO `hm_member` (`member_card_id`,`phone`,`certificate_type`,`certificate_number`,
	        `integral`,`stored_value`,`create_user_id`,`name`,`birthday`,`gender`,`address`,`remark`,
	        `salesman`,`state`,`create_time`,`update_user_id`,`update_time`)
        VALUES (#{memberCardId},#{phone},#{certificateType},#{certificateNumber},
                #{integral},#{storedValue},#{createUserId},#{name},#{birthday},#{gender},#{address},#{remark},
                 #{salesman},'yes',NOW(),#{updateUserId},#{updateTime})
    </insert>

    <!--修改会员信息-->
    <update id="updateMember" parameterType="com.szq.hotel.entity.bo.MemberBO">
        UPDATE `hm_member`
<set>
    <if test="memberCardId!=null ">`member_card_id` =#{memberCardId},</if>
    <if test="phone!=null and phone !=''">`phone` =  #{phone},</if>
    <if test="certificateType!=null and certificateType !=''"> `certificate_type` =  #{certificateType},</if>
    <if test="certificateNumber!=null and certificateNumber !=''">`certificate_number` =  #{certificateNumber},</if>
    <if test="integral!=null ">`integral` =  #{integral},</if>
    <if test="storedValue!=null ">`stored_value` =  #{storedValue},</if>
    <if test="name!=null and name !=''">`name` =  #{name},</if>
    <if test="birthday!=null and birthday !=''">`birthday` =  #{birthday},</if>
    <if test="gender!=null and gender !=''">`gender` =  #{gender},</if>
    <if test="state!=null and state !=''">`state` =  #{state},</if>
    <if test="address!=null and address !=''">`address` =  #{address},</if>
    <if test="remark!=null and remark !=''">`remark` =  #{remark},</if>
    <if test="salesman!=null and salesman !=''">`salesman` =  #{salesman},</if>
    <if test="updateUserId!=null ">`update_user_id` =  #{updateUserId},</if>
    `update_time` = NOW()
</set>
WHERE id = #{id}
    </update>

    <!--查询会员级别所有信息-->
    <select id="selectMember" resultType="com.szq.hotel.entity.bo.MemberBO" parameterType="java.util.Map">
        SELECT me.*,le.`name` memberLevelName,le.type
        FROM `hm_member` me LEFT JOIN hm_member_card card ON me.member_card_id = card.id
        LEFT JOIN hm_member_level le ON card.member_level_id = le.id
        <where>
            me.state = 'yes'

            <if test="query!=null  ">
                AND (me.`phone` LIKE concat('%',#{query},'%')
                OR me.`certificate_number` LIKE concat('%',#{query},'%')
                OR me.`name` LIKE concat('%',#{query},'%'))
            </if>

        </where>
        <include refid="limit" />
    </select>
    <!--分页查询-->
    <sql id="limit">
        limit #{pageOffset},#{pageSize}
    </sql>

    <!--通过id查询会员级别-->
    <select id="queryMemberById"  parameterType="java.lang.Integer"  resultType="com.szq.hotel.entity.bo.MemberBO">
        SELECT * FROM `hm_member` WHERE id=#{id}
    </select>
    <!--积分增减-->
    <update id="integralChange" parameterType="com.szq.hotel.entity.bo.MemberBO">
        UPDATE hm_member SET integral = (integral+#{integral}) WHERE id = #{id}
    </update>
    <!--储值调整-->
    <update id="storedValueChange" parameterType="com.szq.hotel.entity.bo.MemberBO">
        UPDATE hm_member SET stored_value = (stored_value+#{storedValue}) WHERE id = #{id}
    </update>
</mapper>