<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.szq.hotel.dao.MemberLevelDAO">


    <!--新增会员级别-->
    <insert id="addMemberLevel" useGeneratedKeys="true" keyProperty="id"  parameterType="com.szq.hotel.entity.bo.MemberLevelBO">
        INSERT INTO `hm_member_level` (`name`, `state`, `type`,`discount`, `create_user_id`, `create_time`)
        VALUES (#{name},'yes',#{type},#{discount},#{createUserId},NOW())
    </insert>


    <!--修改会员级别-->
    <update id="updateMemberLevel" parameterType="com.szq.hotel.entity.bo.MemberLevelBO">
        UPDATE `hm_member_level`
        <set>
            <if test="name!=null and name !=''" >   `name`=#{name},  </if>
            <if test="state!=null and state !=''" >   `state`=#{state},  </if>
            <if test="type!=null and type !=''" >    `type`=#{type}, </if>
            <if test="updateUserId!=null" >`update_user_id`=#{updateUserId},</if>
            `update_time`=NOW()
        </set>
        WHERE id=#{id}
    </update>

    <!--查询会员级别所有信息-->
    <select id="selectMemberLevel" resultType="com.szq.hotel.entity.bo.MemberLevelBO">
        SELECT * FROM hm_member_level WHERE state = 'yes'
    </select>
    <!--根据名称查询级别信息-->
    <select id="selectMemberLevelByName" parameterType="java.lang.String" resultType="com.szq.hotel.entity.bo.MemberLevelBO">
        SELECT * FROM hm_member_level WHERE state = 'yes' AND name = #{name}
    </select>
    <!--通过id查询会员级别-->
    <select id="queryMemberLevelById"  parameterType="java.lang.Integer"  resultType="com.szq.hotel.entity.bo.MemberLevelBO">
        SELECT * FROM `hm_member_level` WHERE id=#{id}
    </select>


</mapper>