<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.szq.hotel.dao.MemberCardDAO">
    <!--批量添加会员卡-->
    <insert id="addMemberCard" parameterType="com.szq.hotel.entity.bo.MemberCardBO">
        INSERT INTO `hm_member_card` (`member_level_id`,`card_number`,`money`,`state`)
        VALUES
        <foreach collection="list" item="item" separator=",">
        (#{memberLevelId},#{item},#{money},'unsold')
        </foreach>
    </insert>
    <!--Excel导入测试-->
    <insert id="addMemberCardTest" parameterType="com.szq.hotel.entity.bo.MemberCardBO">
        INSERT INTO `hm_member_card` (`member_level_id`,`card_number`,`money`,`state`)
        VALUES (#{memberLevelId},#{cardNumber},#{money},'unsold')
    </insert>
    <!--查询会员卡是否存在-->
    <select id="queryCartByCartList" resultType="com.szq.hotel.entity.bo.MemberCardBO" parameterType="list">
        SELECT  * FROM  `hm_member_card` WHERE
        1=1
        AND
        <foreach item="list" collection="list" open="card_number in ("
                 separator="," close=")">
            #{list}
        </foreach>
    </select>
    <!--修改会员卡-->
    <update id="updateMemberCard" parameterType="com.szq.hotel.entity.bo.MemberCardBO">
        UPDATE `hm_member_card`
        <set>
            <if test="memberLevelId!=null and memberLevelId !=''" >   `member_level_id`=#{memberLevelId},  </if>
            <if test="state!=null and state !=''" >   `state`=#{state},  </if>
            <if test="money!=null " >    `money`=#{money}, </if>
        </set>
        WHERE id=#{id}
    </update>

    <!--查询会员卡信息-->
    <select id="conditionSelectMemberCard" resultType="com.szq.hotel.entity.bo.MemberCardBO" parameterType="java.util.Map">
        SELECT * FROM `hm_member_card`
        <where>
            state!='no'
            <if test="state!=null and state!=''">AND `state`=#{state}</if>
            <if test="memberLevelId!=null ">AND `member_level_id`=#{memberLevelId}</if>
            <if test="money!=null ">AND `money`=#{money}</if>
            <if test="cardNumber!=null and cardNumber!=''">AND `card_number` LIKE concat('%',#{cardNumber},'%')</if>
        </where>
    </select>
    <!--条件分页查询会员卡信息-->
    <select id="selectMemberCard" resultType="com.szq.hotel.entity.bo.MemberCardBO" parameterType="java.util.Map">
        SELECT card.*,le.`name` FROM `hm_member_card` card
        LEFT JOIN hm_member_level le ON card.member_level_id = le.id
        <where>
            card.state!='no'
            <if test="state!=null and state!=''">AND card.`state`=#{state}</if>
            <if test="name!=null and name!=''">AND le.`name`LIKE concat('%',#{name},'%')</if>
            <if test="money!=null ">AND card.`money`=#{money}</if>
            <if test="cardNumber!=null and cardNumber!=''">AND card.`card_number` LIKE concat('%',#{cardNumber},'%')</if>
        </where>
        <include refid="limit" />
    </select>
    <!--查询条数-->
    <select id="getCount"  parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT COUNT(card.id) FROM `hm_member_card` card
        LEFT JOIN hm_member_level le ON card.member_level_id = le.id
        <where>
            card.state!='no'
            <if test="state!=null and state!=''">AND card.`state`=#{state}</if>
            <if test="memberLevelId!=null ">AND card.`member_level_id`=#{memberLevelId}</if>
            <if test="money!=null ">AND card.`money`=#{money}</if>
            <if test="cardNumber!=null and cardNumber!=''">AND card.`card_number` LIKE concat('%',#{cardNumber},'%')</if>
        </where>
    </select>
    <!--分页查询-->
    <sql id="limit">
        limit #{pageOffset},#{pageSize}
    </sql>
    <!--通过id查询会员卡-->
    <select id="queryMemberCardById"  parameterType="java.lang.Integer"  resultType="com.szq.hotel.entity.bo.MemberCardBO">
        SELECT * FROM `hm_member_card` WHERE id=#{id}
    </select>
    <!--导出会员卡-->
    <select id="exportMemberCard" resultType="com.szq.hotel.entity.bo.MemberCardResultBO" parameterType="java.util.Map">
        SELECT mc.card_number,mc.money,mc.selling_time,mc.state,ml.`name`
        FROM hm_member_card mc
        LEFT JOIN hm_member_level ml ON mc.member_level_id = ml.id
        <where>
            mc.state!='no'
            <if test="state!=null and state!=''">AND mc.`state`=#{state}</if>
            <if test="name!=null ">AND ml.`name`=#{name}</if>
            <if test="money!=null ">AND mc.`money`=#{money}</if>
            <if test="cardNumber!=null and cardNumber!=''">AND mc.`card_number` LIKE concat('%',#{cardNumber},'%')</if>
        </where>
    </select>

    <!--通过会员id查找会员卡信息-->
    <select id="getCardByMemberId" parameterType="java.lang.Integer" resultType="com.szq.hotel.entity.bo.MemberCardBO">
        SELECT ca.* FROM hm_member_card ca
        LEFT JOIN hm_member me ON ca.id = member_card_id
      WHERE me.id = #{memberId}

    </select>

    <!--查询会员卡卡号和售价-->
    <select id="getMemberNumberMoney" parameterType="java.lang.Integer" resultType="com.szq.hotel.entity.bo.MemberCardBO">
        SELECT card.id,card.card_number,card.money
        FROM hm_member_card card LEFT JOIN hm_member_level le ON card.member_level_id = le.id
        WHERE card.member_level_id = #{memberLevelId} AND card.state = 'unsold'
        ORDER BY card.card_number+0 ASC LIMIT 1
    </select>

    <!--更新会员卡售出时间-->
    <update id="updateSellingTime" parameterType="java.lang.String">
        UPDATE hm_member_card SET selling_time = NOW(),state = 'use' WHERE card_number = #{cardNumber}
    </update>


</mapper>