<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 【用户】 -->
<mapper namespace="com.szq.hotel.dao.OrderDAO">

    <!-- 添加主订单 -->
    <insert id="addOrder" parameterType="com.szq.hotel.entity.bo.OrderBO" useGeneratedKeys="true"
            keyProperty="id">
        insert into hm_order
        (order_placer,order_number,check_type,check_time,
        check_out_time,day_count,phone,ID_number,
        ID_number_type,order_type,clerk_ordering_name,
        clerk_ordering_id,members_id,
        memberId_or_organizationId,total_price,create_time,hotel_id,channel,OTA,subscribe_remark)
        values
        (#{orderPlacer},#{orderNumber},#{checkType},
        #{checkTime},#{checkOutTime},#{dayCount},#{phone},#{IDNumber},
        #{IDNumberType},#{orderType},
        #{clerkOrderingName},#{clerkOrderingId},#{membersId},
        #{memberIdOrOrganizationId},#{totalPrice},now(),#{hotelId},#{channel},#{OTA},#{subscribeRemark})
    </insert>

    <!-- 添加子订单 -->
    <insert id="addOrderChild" parameterType="com.szq.hotel.entity.bo.OrderChildBO" useGeneratedKeys="true"
            keyProperty="id">
        insert into hm_order_child set
        order_id=#{orderId},
        order_state=#{orderState},
        remark=#{remark},
        start_time=#{startTime},
        end_time=#{endTime},
        <if test="roomId!=null and roomId!=''">
            room_id=#{roomId},
        </if>
        room_type_id=#{roomTypeId},
        al_room_code=#{alRoomCode}

    </insert>

    <!-- 备份子订单 -->
    <insert id="addOrderChildBackup" parameterType="com.szq.hotel.entity.param.OrderChildBackupParam">
        insert into hm_order_child_backup
        <set>
            <if test="id!=null and id!=''">
                id=#{id},
            </if>
            <if test="roomRate!=null and roomRate!=''">
                room_rate=#{roomRate},
            </if>

            <if test="otherRate!=null and otherRate!=''">
                other_rate=#{otherRate},
            </if>

            <if test="practicalDepartureTime!=null and practicalDepartureTime!=''">
                practical_departure_time=#{practicalDepartureTime},
            </if>

            <if test="orderState!=null and orderState!=''">
                order_state=#{orderState},
            </if>

            <if test="roomMajorState!=null and roomMajorState!=''">
                room_major_state=#{roomMajorState},
            </if>
        </set>

    </insert>
    <!-- 查询备份的子订单 -->
    <select id="getOrderChildBackup" resultType="com.szq.hotel.entity.param.OrderChildBackupParam" parameterType="java.lang.Integer">
        select * from hm_order_child_backup where id=#{id}
    </select>
    <!-- 删除备份的子订单 -->
    <delete id="delOrderChildBackup" parameterType="java.lang.Integer">
        delete from hm_order_child_backup where id=#{id}
    </delete>

    <!-- 修改子订单信息 -->
    <update id="updOrderChild" parameterType="com.szq.hotel.entity.bo.OrderChildBO">
        update hm_order_child
        <set>
            <if test="startTime!=null and startTime!=''">
                start_time=#{startTime},
            </if>
            <if test="endTime!=null and endTime!=''">
                end_time=#{endTime},
            </if>
            <if test="payCashNum!=null and payCashNum!=''">
                pay_cash_num=pay_cash_num+#{payCashNum},
            </if>
            <if test="otherPayNum!=null and otherPayNum!=''">
                other_pay_num=other_pay_num+#{otherPayNum},
            </if>
            <if test="roomRate!=null and roomRate!=''">
                room_rate=#{roomRate},
            </if>
            <if test="otherRate!=null and otherRate!=''">
                other_rate=#{otherRate},
            </if>
            <if test="timeoutRate!=null and timeoutRate!=''">
                timeout_rate=#{timeoutRate},
            </if>
            <if test="freeRateNum!=null and freeRateNum!=''">
                free_rate_num=#{freeRateNum},
            </if>
            <if test="orderState!=null and orderState!=''">
                order_state=#{orderState},
            </if>
            <if test="practicalDepartureTime!=null and practicalDepartureTime!=''">
                practical_departure_time=#{practicalDepartureTime},
            </if>
            <if test="remark!=null and remark!=''">
                remark=#{remark},
            </if>
            <if test="roomId!=null and roomId!=''">
                room_id=#{roomId},
            </if>
            <if test="roomTypeId!=null and roomTypeId!=''">
                room_type_id=#{roomTypeId},
            </if>
            <if test="alRoomCode!=null and alRoomCode!=''">
                al_room_code=#{alRoomCode},
            </if>
            <if test="nightAuditorState!=null and nightAuditorState!=''">
                night_auditor_state=#{nightAuditorState},
            </if>
            <if test="printState!=null and printState!=''">
                print_state=#{printState},
            </if>
            <if test="main!=null and main!=''">
                main=#{main},
            </if>
            update_time=now()
        </set>
        where id=#{id}
    </update>

    <!--在住报表-->
    <select id="getCheckInReport" parameterType="java.lang.Integer" resultType="com.szq.hotel.entity.result.OrderResult">
        select o.order_number,p.name,v.value,p.certificate_number,r.room_name,
        t.room_type_name,e.money,c.start_time,c.end_time,c.pay_cash_num,c.other_pay_num,
        c.room_rate,other_rate,c.free_rate_num
        from hm_order as o,hm_room as r,hm_room_type as t,
        hm_order_child as c,hm_dictionaries_value as v,
        hm_check_in_person as p,hm_everyday_room_price as e,hm_order_record as `or`
        where o.id=c.order_id
        and c.room_id=r.id
        and c.room_type_id=t.id
        and c.id=p.order_child_id
        and c.id=e.order_child_id
        and p.certificate_type=v.id
        and c.id=`or`.order_child_id
        and p.status='checkin'
        and (order_state='admissions')
        and o.hotel_id=#{hotelId}
        group by or.order_child_id
    </select>

    <!--预离报表-->
    <select id="getCheckOutReport"  resultType="com.szq.hotel.entity.result.OrderResult">
        select o.order_number,p.name,v.value,p.certificate_number,r.room_name,
        t.room_type_name,e.money,c.start_time,c.end_time,c.pay_cash_num,c.other_pay_num,
        c.room_rate,other_rate,c.free_rate_num
        from hm_order as o,hm_room as r,hm_room_type as t,
        hm_order_child as c,hm_dictionaries_value as v,
        hm_check_in_person as p,hm_everyday_room_price as e,hm_order_record as `or`
        where o.id=c.order_id
        and c.room_id=r.id
        and c.room_type_id=t.id
        and c.id=p.order_child_id
        and c.id=e.order_child_id
        and p.certificate_type=v.id
        and c.id=`or`.order_child_id
        and p.status='checkin'
        and (order_state='admissions')
        <if test="afterTime!=null and afterTime!=''">
            and c.end_time&gt;=#{afterTime}
        </if>
        <if test="beforeTime!=null and beforeTime!=''">
            and c.end_time&lt;#{beforeTime}
        </if>
        and o.hotel_id=#{hotelId}
        group by or.order_child_id
        order by c.end_time
        <include refid="limit" />
    </select>

    <!--预离报表总数-->
    <select id="getCheckOutReportCount"  resultType="com.szq.hotel.entity.result.OrderResult">
        select o.order_number,p.name,v.value,p.certificate_number,r.room_name,
        t.room_type_name,e.money,c.start_time,c.end_time,c.pay_cash_num,c.other_pay_num,
        c.room_rate,other_rate,c.free_rate_num
        from hm_order as o,hm_room as r,hm_room_type as t,
        hm_order_child as c,hm_dictionaries_value as v,
        hm_check_in_person as p,hm_everyday_room_price as e,hm_order_record as `or`
        where o.id=c.order_id
        and c.room_id=r.id
        and c.room_type_id=t.id
        and c.id=p.order_child_id
        and c.id=e.order_child_id
        and p.certificate_type=v.id
        and c.id=`or`.order_child_id
        and p.status='checkin'
        and (order_state='admissions')
        <if test="afterTime!=null and afterTime!=''">
            and c.end_time&gt;=#{afterTime}
        </if>
        <if test="beforeTime!=null and beforeTime!=''">
            and c.end_time&lt;#{beforeTime}
        </if>
        and o.hotel_id=#{hotelId}
        group by or.order_child_id
        order by c.end_time
    </select>
    <sql id="limit">
        limit #{pageNo},#{pageSize}
    </sql>

    <!-- 根据手机号 身份证号 查询订单信息 -->
    <select id="getOrderByIdOrMobile" resultType="com.szq.hotel.entity.bo.OrderBO">
        select * from hm_order where
        check_time &lt;= #{date}
        and (phone=#{mobile} or ID_number=#{idNumber})
        and hotel_id=#{hotelId}
        order by update_time desc
        limit 1
    </select>

    <!-- 根据订单id查询订单信息 -->
    <select id="getOrderById" resultType="com.szq.hotel.entity.bo.OrderBO">
        select * from hm_order where
        id = #{orderId}
    </select>

    <!-- 根据订单id查询所有子订单 带房型房间信息 -->
    <select id="getOrderChildByOrderId" parameterType="java.lang.Integer" resultType="com.szq.hotel.entity.bo.OrderChildBO">
        select hm_order_child.*,hm_room.room_name,hm_room_type.room_type_name
        from hm_order_child,hm_room,hm_room_type
        where
        hm_order_child.room_id=hm_room.id
        and
        hm_order_child.room_type_id=hm_room_type.id
        and
        order_id=#{id}
    </select>

    <!-- 根据订单id查询未入住子订单 带房型信息 -->
    <select id="getOrderChildByOrderId2" resultType="com.szq.hotel.entity.bo.OrderChildBO">
        select hm_order_child.*,hm_room_type.room_type_name
        from hm_order_child,hm_room_type
        where
        hm_order_child.room_type_id=hm_room_type.id
        and
        order_id=#{id}
        and order_state=#{orderState}
    </select>

    <!-- 根据订单id查询未入住子订单 带房型房间信息 -->
    <select id="getOrderChildByOrderId3"  resultType="com.szq.hotel.entity.bo.OrderChildBO">
       select hm_order_child.*,hm_room.room_name,hm_room_type.room_type_name
        from hm_order_child,hm_room,hm_room_type
        where
        hm_order_child.room_id=hm_room.id
        and
        hm_order_child.room_type_id=hm_room_type.id
        and
        order_id=#{id}
        and order_state=#{orderState}
    </select>

    <!-- 根据订单id以及状态查询未入住的子订单  -->
    <select id="getOrderChildByOrderId4"  resultType="com.szq.hotel.entity.bo.OrderChildBO">
        select *
        from hm_order_child
        where order_id=#{id} and order_state=#{orderState}
    </select>

    <!-- 根据主订单查询已经入住，状态为未支付的子订单 -->
    <select id="getOrderChildByOrderId5" resultType="com.szq.hotel.entity.bo.OrderChildBO">
        select * from hm_order_child as oc,hm_check_in_person as cp
        where oc.id=cp.order_child_id
        and cp.status='checkin'
        and order_state=#{orderState}
        and oc.order_id=#{id}
    </select>

    <!-- 查询入住超时的子订单  -->
    <select id="getTimeOutOrder"  resultType="com.szq.hotel.entity.bo.OrderChildBO">
        select *
        from hm_order_child
        where order_state=#{orderState}
        and end_time &lt; now()
        and  practical_departure_time is null
    </select>

    <!-- 查询入住超时的子订单  -->
    <select id="getTimeOutOrder2"  resultType="com.szq.hotel.entity.bo.OrderChildBO">
        select *
        from hm_order_child
        where order_state=#{orderState}
        and  practical_departure_time &lt; now()
    </select>

    <!--根据房间id查询预约中的子订单-->
    <select id="getResOrderChildByRoomId"  resultType="com.szq.hotel.entity.bo.OrderChildBO">
        select id from hm_order_child
        where order_state='reservation'
        and room_id=#{roomId}
        and order_id=#{orderId}
    </select>
    <!--根据房型id查询预约中的子订单-->
    <select id="getResOrderChildByRoomTypeId"  resultType="com.szq.hotel.entity.bo.OrderChildBO">
        select id from hm_order_child
        where order_state='reservation'
        and room_type_id=#{roomTypeId}
        and room_id is null
        and order_id=#{orderId}
        limit 1
    </select>
    <!-- 修改主订单信息 -->
    <update id="updOrder" parameterType="com.szq.hotel.entity.bo.OrderBO">
        update hm_order
        <set>
            <if test="orderPlacer!=null and orderPlacer!=''">
                order_placer=#{orderPlacer},
            </if>
            <if test="phone!=null and phone!=''">
                phone=#{phone},
            </if>
            <if test="IDNumberType!=null and IDNumberType!=''">
                ID_number_type=#{IDNumberType},
            </if>
            <if test="IDNumber!=null and IDNumber!=''">
                ID_number=#{IDNumber},
            </if>
            <if test="checkType!=null and checkType!=''">
                check_type=#{checkType},
            </if>
            <if test="checkTime!=null and checkTime!=''">
                check_time=#{checkTime},
            </if>
            <if test="checkOutTime!=null and checkOutTime!=''">
                check_out_time=#{checkOutTime},
            </if>
            <if test="dayCount!=null and dayCount!=''">
                day_count=#{dayCount},
            </if>
            <if test="clerkOrderingName!=null and clerkOrderingName!=''">
                clerk_ordering_name=#{clerkOrderingName},
            </if>
            <if test="totalPrice!=null and totalPrice!=''">
                total_price=#{totalPrice},
            </if>
            <if test="OTA!=null and OTA!=''">
                OTA=#{OTA},
            </if>
            <if test="channel!=null and channel!=''">
                channel=#{channel},
            </if>
            update_time=now()
        </set>
        where id=#{id}
    </update>
    <!-- 根据主订单删除预约中的子订单信息 -->
    <delete id="delOrderChild" parameterType="java.lang.Integer">
        delete from hm_order_child where order_id=#{id} and orderState='reservation'
    </delete>

    <!--根据主订单id查询房间信息（客帐管理）-->
    <select id="getRoomInfoById" parameterType="java.lang.Integer" resultType="com.szq.hotel.entity.bo.OrderChildBO">
        select oc.id,r.room_name as roomName,cp.name as name,cp.create_time as createTime,main
        from hm_order_child as oc,hm_check_in_person as cp,hm_room as r
        where oc.order_id=#{orderId}
        and oc.room_id=r.id
        and cp.order_child_id=oc.id
        and cp.status='checkin'
        group by order_child_id
    </select>

    <!--获取入住支付信息 查询付款人-->
    <select id="getPayInfo" parameterType="java.lang.Integer" resultType="com.szq.hotel.entity.bo.OrderChildBO">
        select oc.id,ip.name,main
        from hm_order_child as oc,hm_check_in_person as ip
        where oc.id=ip.order_child_id
        and order_id=#{orderId}
        group by oc.id
    </select>

    <!--根据子订单id查询子订单-->
    <select id="getOrderChildById"  parameterType="java.lang.Integer" resultType="com.szq.hotel.entity.bo.OrderChildBO">
        select hm_order_child.*,hm_room.room_name,hm_room_type.room_type_name
        from hm_order_child,hm_room,hm_room_type
        where hm_order_child.id=#{id}
        and hm_room.room_type_id=hm_room_type.id
        and hm_order_child.room_id=hm_room.id
    </select>

    <!--根据子订单id查询子订单-->
    <select id="getOrderChildById2"  parameterType="java.lang.Integer" resultType="com.szq.hotel.entity.bo.OrderChildBO">
        select * from hm_order_child where id=#{id}
    </select>


    <!--订单列表-->
    <select id="queryOrderList" parameterType="com.szq.hotel.entity.param.OrderParam"
            resultType="com.szq.hotel.entity.bo.OrderListBO">
        SELECT child.id ,der.check_time ,der.check_out_time ,room.room_name ,type.room_type_name ,
        der.order_placer,der.phone ,der.order_type ,der.OTA ,der.channel,der.check_type,der.id as orderId ,
        child.remark,child.order_state ,der.ID_number as certificateNumber
        FROM hm_order der LEFT JOIN hm_order_child child ON der.id=child.order_id
        INNER JOIN hm_room_type type ON type.id=child.room_type_id LEFT JOIN hm_room room ON room.id=child.room_id
        <where>
            <if test="hotelId!=null">der.hotel_id=#{hotelId}</if>
            <if test="orderState!=null and orderState!=''">and child.order_state=#{orderState}</if>
            <if test="admissionsStartTime!=null and admissionsEndTime!=null">and der.check_time BETWEEN
                #{admissionsStartTime} and #{admissionsEndTime}
            </if>
            <if test="departureStartTime!=null and departureEndTime!=null">and der.check_out_time BETWEEN
                #{departureStartTime} and #{departureEndTime}
            </if>
            <if test="roomName!=null and roomName!=''">and room.room_name =#{roomName}</if>
            <if test="checkType!=null and checkType!=''">and der.check_type =#{checkType}</if>
            <if test="orderPlacer!=null and orderPlacer!=''">and der.order_placer LIKE '%${orderPlacer}%'</if>
            <if test="phone!=null and phone!=''">and der.phone LIKE '%${phone}%'</if>
            <if test="roomTypeId!=null ">and child.room_type_id =#{roomType}</if>
            <if test="roomName!=null and roomName!='' ">and room.room_name LIKE '%${roomName}%'</if>
            <if test="channel!=null and channel!=''">and der.channel LIKE '%${channel}%'</if>
            <if test="OTA!=null and OTA!=''">and der.OTA LIKE '%${OTA}%'</if>
        </where>

        <include refid="orderLimit"/>
    </select>

    <!--订单列表数量-->
    <select id="queryOrderListCount" parameterType="com.szq.hotel.entity.param.OrderParam"
            resultType="int">
        SELECT COUNT(child.id)
        FROM hm_order der LEFT JOIN hm_order_child child ON der.id=child.order_id
        INNER JOIN hm_room_type type ON type.id=child.room_type_id LEFT JOIN hm_room room ON room.id=child.room_id
        <where>
            <if test="hotelId!=null">der.hotel_id=#{hotelId}</if>
            <if test="orderState!=null and orderState!=''">and child.order_state=#{orderState}</if>
            <if test="admissionsStartTime!=null and admissionsEndTime!=null">and der.check_time BETWEEN
                #{admissionsStartTime} and #{admissionsEndTime}
            </if>
            <if test="departureStartTime!=null and departureEndTime!=null">and der.check_out_time BETWEEN
                #{departureStartTime} and #{departureEndTime}
            </if>
            <if test="roomName!=null and roomName!=''">and room.room_name =#{roomName}</if>
            <if test="checkType!=null and checkType!=''">and der.check_type =#{checkType}</if>
            <if test="orderPlacer!=null and orderPlacer!=''">and der.order_placer LIKE '%${orderPlacer}%'</if>
            <if test="phone!=null and phone!=''">and der.phone LIKE '%${phone}%'</if>
            <if test="roomTypeId!=null ">and child.room_type_id =#{roomType}</if>
            <if test="roomName!=null and roomName!='' ">and room.room_name LIKE '%${roomName}%'</if>
            <if test="channel!=null and channel!=''">and der.channel LIKE '%${channel}%'</if>
            <if test="OTA!=null and OTA!=''">and der.OTA LIKE '%${OTA}%'</if>
        </where>

    </select>
    <!--关闭超过15分钟未支付的子订单-->
    <update id="closeOrder">
        update hm_order_child
        set order_state='cancel'
        where round((unix_timestamp(now())-unix_timestamp(update_time))/60)>15
        and order_state='notpay'
    </update>

    <!--通过房间id查找在住订单信息-->
    <select id="getOrderChildByRoomId" resultType="com.szq.hotel.entity.result.CheckInInfoResult" parameterType="java.lang.Integer">
        select hm_order.id as orderId,time,hm_order_child.id as orderChildId,start_time,end_time,
        (room_rate+other_rate-free_rate_num) as totalConsumption,
        (pay_cash_num+other_pay_num) as sumPayment,channel,
        remark,al_room_code,OTA,money
        from  hm_order_child,hm_order,hm_everyday_room_price
        where hm_order_child.order_id=hm_order.id
        and (order_state='admissions' or order_state='notpay')
        and hm_everyday_room_price.order_child_id=hm_order_child.id
        and room_id=#{roomId}
        and time = date_format(now(),'%y-%m-%d')
    </select>

    <!--通过联房码查询联房信息-->
    <select id="getOrderRoomByCode" resultType="com.szq.hotel.entity.result.CheckRoomPersonResult" parameterType="java.lang.String" >
        select name,hm_order_child.start_time,room_name
        from hm_check_in_person,hm_order_child,hm_room
        where hm_order_child.id=hm_check_in_person.order_child_id
        and hm_order_child.room_id=hm_room.id
        and al_room_code=#{code}
        and status='checkin'
        group by  hm_room.id
    </select>

    <!--通过联房码查询子订单-->
    <select id="getOrderByCode"  resultType="com.szq.hotel.entity.bo.OrderChildBO" >
        select * from hm_order_child where al_room_code=#{code} and main=#{main}
    </select>

    <!--查询所有可用联房-->
    <select id="getAlRoom" resultType="com.szq.hotel.entity.bo.CheckInPersonBO">
        select hm_order_child.id as orderChildId,hm_room.id as roomId,hm_check_in_person.name,hm_order_child.start_time
        from hm_order_child,hm_room,hm_check_in_person,hm_order
        where hm_order_child.room_id=hm_room.id
        and hm_order_child.main='yes'
        and hm_check_in_person.order_child_id=hm_order_child.id
        and hm_check_in_person.status='checkin'
        and hm_order_child.room_id!=#{roomId}
        and hm_order.hotel_id=#{hotelId}
        and hm_order_child.order_id=hm_order.id
        group by hm_order_child.id
    </select>

    <!--找查首日房价-->
    <select id="queryUnitPrice" parameterType="java.lang.Integer" resultType="java.math.BigDecimal">
        SELECT  money  FROM `hm_everyday_room_price` where order_child_id =#{id}  limit 0,1
    </select>

    <sql id="orderLimit">
        limit #{pageOffset},#{pageSize}
    </sql>


</mapper>