<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 子订单详情 -->
<mapper namespace="com.szq.hotel.dao.OrderRecordDAO">

    <!--添加子订单详情-->
    <insert id="addOrderRecord" parameterType="com.szq.hotel.entity.bo.OrderRecoredBO"  >
      INSERT INTO `hm_order_record` ( `order_child_id`, `info`, `create_user_id`, `pay_type`, `money`,
                                        `state`, `project`, `number`, `create_time`)
                              VALUES (#{orderChildId}, #{info}, #{createUserId}, #{payType}, #{money},
                                      #{state}, #{project}, #{number},NOW());
    </insert>

    <!--查询子订单详情-->
    <select id="queryOrderRecord"  parameterType="java.lang.Integer"  resultType="com.szq.hotel.entity.bo.OrderRecoredBO">
        select hm_order_record.*,hm_admin.name as createUserName
        from `hm_order_record`,hm_admin where hm_order_record.create_user_id=hm_admin.id and order_child_id =#{id}
    </select>

    <!--查询子订单详情通过id-->
    <select id="queryOrderRecordById" parameterType="java.lang.Integer"   resultType="com.szq.hotel.entity.bo.OrderRecoredBO" >
        SELECT  * FROM `hm_order_record` WHERE  id=#{id}
    </select>


    <!--修改子订单订单详情-->
    <update id="updateRecord" parameterType="com.szq.hotel.entity.bo.OrderRecoredBO" >
     UPDATE   `hm_order_record` SET  `order_child_id`=#{orderChildId}, `info`=#{info} ,  `pay_type`= #{payType},
     `money`=#{money}, `state`=#{state}, `project`=#{project}, `number`=#{number}  WHERE  id=#{id}
    </update>


    <!--验证是否未包含已结账-->
    <select id="queryInvoicing"  resultType="int" >
          SELECT COUNT(id) FROM `hm_order_record` WHERE   state='yes'  AND     id in
        <foreach collection="list" item="id" open="(" separator=","  close=")" >
               #{id}
        </foreach>
    </select>

    <!--查询支付方式-->
    <select id="queryPayType"  resultType="java.lang.String" >
        SELECT pay_type FROM `hm_order_record` WHERE  id in
        <foreach collection="list" item="id" open="(" separator=","  close=")" >
            #{id}
        </foreach>
    </select>


    <!--查询消费项-->
    <select id="consumption"  resultType="double" >
        SELECT ifnull(SUM(money),0)  FROM `hm_order_record` WHERE   money &lt;0  AND  id in
        <foreach collection="list" item="id" open="(" separator=","  close=")" >
            #{id}
        </foreach>
    </select>
    <!--查询支付项-->
    <select id="pay" resultType="double" >
        SELECT ifnull(SUM(money),0)  FROM `hm_order_record` WHERE   money >0  AND  id in
        <foreach collection="list" item="id" open="(" separator=","  close=")" >
            #{id}
        </foreach>
    </select>

    <!--修改订单详情为已结-->
    <update id="closedAccount" >
        UPDATE  hm_order_record  SET  state='yes'   WHERE
        <foreach collection="list" item="id" open="(" separator=","  close=")" >
            #{id}
        </foreach>
    </update>

    <!--结账查询-->
    <select id="queryRecordIds" resultType="java.lang.Integer"   >
        SELECT id  FROM hm_order_record WHERE  state='no' AND  order_child_id  IN
        <foreach collection="list" item="id" open="(" separator=","  close=")" >
            #{id}
        </foreach>
    </select>
</mapper>