<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 改价 -->
<mapper namespace="com.szq.hotel.dao.UpdatePriceDAO">

    <select id="queryPrice"  resultType="com.szq.hotel.entity.bo.EverydayRoomPriceBO">
        SELECT  `time`,`money`   FROM `hm_update_price`  WHERE  order_id=#{orderId}  AND   room_type_id=#{roomTypeId}
    </select>

    <select id="queryChildPrice"  resultType="com.szq.hotel.entity.bo.EverydayRoomPriceBO"  >
         SELECT price.time ,price.money FROM hm_order der LEFT JOIN  hm_order_child child  on
          child.order_id =der.id   LEFT JOIN hm_everyday_room_price price on
          price.order_child_id = child.id
      WHERE  der.id=#{orderId} AND child.room_type_id=#{roomTypeId}
    </select>
    <select id="queryChildId"  resultType="java.lang.Integer">
        SELECT child.id		 FROM  hm_order der LEFT JOIN hm_order_child  child ON child.order_id  =der.id
          WHERE  child.room_type_id =#{roomTypeId} AND der.id=#{orderId}
    </select>
    
    <delete id="delePrice"  parameterType="java.lang.Integer" >
        DELETE FROM hm_update_price   WHERE room_type_id=#{id}
    </delete>

    <insert id="addPrice"  parameterType="java.util.Map">


        INSERT INTO `hotel`.`hm_update_price` ( `order_id`, `time`, `room_type_id`, `money`) VALUES

       <foreach collection="list"   item="item"  separator=","  >
           (
            #{orderId},
            #{item.time},
            #{roomTypeId},
            #{item.price}

           )
       </foreach>
    </insert>


    <!--查询不是钟点房的房间名字-->
    <select id="queryHour"  resultType="java.lang.String" >
        SELECT room_name  FROM hm_room  WHERE id
            <foreach collection="list"   item="item"  open="IN(" separator=","   close=")">
              #{item}
            </foreach>
          AND room_auxiliary_status!='yes'
    </select>
    <!--查询不是免费房-->
    <select id="queryFree"  resultType="java.lang.String">
        SELECT room_name  FROM hm_room  WHERE id
        <foreach collection="list"   item="item"   open="IN(" separator=","   close=")" >
            #{item}
        </foreach>
        AND room_auxiliary_status_stand!='yes'
    </select>

</mapper>